<AdminLayout title="{$createMode ? 'Create page' : 'Edit page'}">
    <div class="d-flex justify-content-between mt-2 mb-4">
        <div>
            <h3 class="text-h3">{$createMode ? 'Create page' : 'Edit page'}</h3>
            <a class="icon-link" href="/admin/content">
                <Icon name="bi-arrow-left" />
                Back
            </a>
        </div>
        <div class="text-right">
            <ActionButton text="{$createMode ? 'Create' : 'Save'}" state="$state" (click)="onSave" />
        </div>
    </div>
    <div if="$page && $validation" class="card shadow-sm p-4">
        <ActionForm #actionForm (submit)="onSave" id="page-form" action="/admin/content" method="post"
            rules="{$validation->getValidationRules()}">
            <TextInput type="text" wrapperClass="col-12" label="Title" placeholder="Title of the page"
                inputClass="form-control" id="Title" model="$page->Title" />

            <CheckBox label="Home page?" id="HomePage" model="$page->HomePage"
                hint="Check to mark this page as a home page" />

            <TextInput if="!$page->HomePage" type="text" label="Search engine friendly page name" placeholder="my-page"
                wrapperClass="col-12" inputClass="form-control" id="Slug" model="$page->Slug" hint="Set a search engine friendly page name e.g. 'the-best-page' to make your
                    page URL
                    'http://content.com/the-best-page'. Leave empty to generate it automatically." />

            <CheckBox label="Published" id="Published" model="$page->Published"
                hint="Check to make this post publicly available." />

            <CheckBox label="Edit as HTML" id="RawHtml" model="$page->AsHtml"
                hint="Check to edit your content as HTML" />

            <div if="$page->AsHtml">
                <label for="Body" class="col-form-label">Body</label>
                <Tabs classList="">
                    <Tab title="Edit" active>
                        <TextInput textarea codeEditor placeholder="The body of this page" id="Body" rows="12"
                            model="$page->Body" />
                    </Tab>
                    <Tab title="Preview">
                        <div class="raw-content">
                            {{$page->Body}}
                        </div>
                    </Tab>
                </Tabs>
            </div>
            <TextInput else textarea richEditor label="Body" placeholder="The body of this page" id="Body" rows="5"
                model="$page->Body" />

            <div class="mb-3">
                <PictureUploader picture="{$page->Picture}" label="Main image" (uploaded)="imageUploaded" (removed)="removePicture" />
            </div>

            <CheckBox label="Include in sitemap" id="IncludeInSitemap" model="$page->IncludeInSitemap"
                hint="Check to include this page in the sitemap." />

            <TextInput type="text" label="Meta keywords" placeholder="Meta keywords to be added to page page header."
                id="MetaKeywords" model="$page->MetaKeywords" />

            <TextInput type="text" label="Meta title"
                placeholder="Override the page title. The default is the title of the page." id="MetaTitle"
                model="$page->MetaTitle" />

            <TextInput textarea label="Meta description" placeholder="Meta description to be added to page page header."
                id="MetaDescription" rows="5" model="$page->MetaDescription"></TextInput>



            <ValidationMessage #generalMessages fallback="true" wrapperClass="mb-3" />

            <ActionButton text="{$createMode ? 'Create' : 'Save'}" state="$state" />
        </ActionForm>
    </div>
</AdminLayout>