<BoxLayout title="{t('reset-password.title')}">
    <div if="$emailSent">
        <h2>{t('reset-password.email-sent')}</h2>
        <p class="mt-4">
            {t('reset-password.email-sent-to', ['email' => $email])}
        </p>
        <p class="mt-4">
            {t('reset-password.email-sent-warning')}
        </p>
        <p class="mt-4">
            {t('reset-password.email-sent-spam-message')}
        </p>
    </div>
    <div else>
        <h2>{t('reset-password.title')}</h2>
        <p class="mt-4">
            {t('reset-password.guide')}
        </p>
        <ActionForm #form (submit)="handleSubmit" class="mt-8" autocomplete="on" id="reset-password-form"
            action="/reset-password" method="post" rules="{getValidationRules()}">

            <TextInput label="{t('register.email')}" type="text" placeholder="{t('register.email')}"
                autocomplete="username" inputClass="form-control" wrapperClass="col-12" id="email" model="$email" />

            <button type="submit" disabled="$loading" class="btn btn-primary mt-3 w-100">
                {t('reset-password.send-link')}
            </button>

            <ValidationMessage #generalMessages fallback="true" />

            <div class="text-caption mt-4 text-secondary">
                {t('reset-password.back-to')} <a href="/login"
                    class="text-secondary">{t('reset-password.login-page')}</a>
            </div>
        </ActionForm>
    </div>
</BoxLayout>