<BoxLayout title="{t('reset-password.title')}">
    <div if="$changed">
        <h2>{t('reset-password.header')}</h2>
        <p class="mt-4">
            <a href="/login" class="text-secondary">{t('register.login-here')}</a>
        </p>
    </div>
    <div else>
        <h2>{t('register.header')}</h2>
        <ActionForm #form (submit)="handleSubmit" class="mt-8" autocomplete="on" id="change-password-form"
            action="/reset-password-confirm" method="post" rules="{$validation->getValidationRules()}">

            <TextInput label="{t('login.password')}" type="password" placeholder="{t('login.password')}"
                autocomplete="new-password" inputClass="form-control" wrapperClass="col-12" id="Password"
                name="Password" model="$resetModel->Password" />

            <TextInput label="{t('register.password-confirm')}" type="password"
                placeholder="{t('register.password-confirm')}" autocomplete="new-password" inputClass="form-control"
                wrapperClass="col-12" id="PasswordConfirmation" name="PasswordConfirmation"
                model="$resetModel->PasswordConfirmation" />

            <input type="hidden" name="username" value="$resetModel->Code" autocomplete="username" />

            <button type="submit" disabled="$loading" class="btn btn-primary mt-3 w-100">
                {t('reset-password.change-password')}
            </button>

            <ValidationMessage #generalMessages fallback="true" />

            <div class="text-caption mt-4 text-secondary">
                {t('reset-password.already-changed')} <a href="/login"
                    class="text-secondary">{t('register.login-here')}</a>
            </div>
        </ActionForm>
    </div>
</BoxLayout>