<!DOCTYPE html>
<html lang="en" data-bs-theme="{ $layout->dark ? 'dark' : 'light' }">

<head>
    <title>
        $title | Viewi
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta if="$description" name="description" content="$description">
    <meta else name="description"
        content="$title">
    <meta if="$keywords" name="keywords" content="$keywords">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <CssBundle
        links="{['/viewi-ui/bs-theme.css', '/viewi-ui/bootstrap.css', '/viewi-ui/ui.css', '/pupils/admin.css']}"
        minify purge combine />
</head>

<body>
    <IconsSprite />
    <slot></slot>
    <AlertContainer />
    <ModalContainer />
    <Portal name="body"></Portal>
    <ViewiAssets />
    
    <script if="$pirschKey" defer src="https://api.pirsch.io/pa.js" id="pianjs" data-code="$pirschKey"
        data-exclude="\/admin\/*"></script>
</body>

</html>