<!DOCTYPE html>
<html lang="en" data-bs-theme="{ $layout->dark ? 'dark' : 'light' }">

<head>
    <BaseMetaHead />
    <CssBundle name="paws-head"
        links="{['/viewi-ui/bs-theme.css', '/viewi-ui/bootstrap.css', '/viewi-ui/ui.css', '/pupils/front.css', '/pupils/admin.css']}"
        minify purge combine />
</head>

<body>
    <IconsSprite />
    <slot></slot>
    <AlertContainer />
    <ModalContainer />
    <Portal name="body"></Portal>
    <ViewiAssets />
    <BaseBodyAssets />
</body>

</html>