<header #area class="container">
    <div class="d-flex justify-content-between flex-column-- flex-md-row-- align-items-center p-3 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <svg width="46" height="46" version="1.1" viewBox="0 0 529.17 529.17" xmlns="http://www.w3.org/2000/svg">
                <title>Viewi</title>
                <defs>
                    <linearGradient id="linearGradient2928">
                        <stop stop-color="#4158d0" offset="0" />
                        <stop stop-color="#c850c0" offset=".36562" />
                        <stop stop-color="#ffcc70" offset="1" />
                    </linearGradient>
                    <linearGradient id="linearGradient2872" x1="-12.77" x2="641.86" y1="541.94" y2="65.436"
                        gradientTransform="matrix(.90626 0 0 .90626 24.802 24.802)" gradientUnits="userSpaceOnUse"
                        xlink:href="#linearGradient2928" />
                    <linearGradient id="linearGradient2888" x1="30.651" x2="622.21" y1="498.52" y2="124.86"
                        gradientUnits="userSpaceOnUse" xlink:href="#linearGradient2928" />
                </defs>
                <rect x="30.651" y="30.651" width="467.87" height="467.87" rx="23.393" ry="23.393" fill="none"
                    stroke="url(#linearGradient2872)" stroke-width="42.333" style="mix-blend-mode:normal" />
                <g>
                    <g fill="url(#linearGradient2888)" stroke-width=".12277" aria-label="V">
                        <path
                            d="m142.61 112.45 109.01 182.56v121.71l-169.33-284.69 60.325-19.579zm244.48 0-109.54 182.56v121.71l169.33-284.69-59.796-19.579z"
                            fill="url(#linearGradient2888)" stroke-width=".12277" />
                    </g>
                </g>
            </svg>
            <span class="fs-4 ps-2">Viewi</span>
        </a>
        <button class="btn btn-rounded btn-rounded-primary link-body-emphasis d-md-none" (click)="menu">
            <Icon name="bi-list" />
        </button>
        <ExpandTransition expanded="$showMenu">
            <nav class="mt-0 ms-md-auto d-md-inline-flex bg-body start-0 end-0 collapse mobile-menu-md">
                <input type="hidden" name="reserved-icons" class="bi-github bi-discord" />
                <a foreach="$menuItems as $menuItem" class="me-md-3 py-2 link-body-emphasis text-decoration-none"
                    href="{$menuItem->Link}" target="{$menuItem->NewTab ? '_blank' : null}"
                    rel="{$menuItem->NewTab ? 'noopener noreferrer' : null}">
                    <Icon if="{$menuItem->Icon}" name="{$menuItem->Icon}" />
                    {$menuItem->Title}
                </a>
                <span class="py-2 py-md-0">
                    <button class="btn ms-md-3 p-0 icon-btn" class.btn-outline-dark="{!$layout->dark}"
                        class.btn-outline-light="{$layout->dark}" (click)="$layout->dark = !$layout->dark">
                        <Icon if="{$layout->dark}" name="bi-sun-fill" />
                        <Icon else name="bi-moon-stars-fill" />
                    </button>
                </span>
                <span class="py-2 d-md-none"></span>
            </nav>
        </ExpandTransition>
    </div>
</header>