<AdminLayout title="$title">

   <div class="row m-0 gy-4">
      <div class="col-sm-12 col-md-4">
         <div class="card">
            <div class="card-body">
               <div class="d-flex align-items-center justify-content-between">
                  <h5 class="card-title">Active members</h5>
                  <span class="p-2 dashboard-icon bg-primary text-white rounded-circle">
                     <Icon name="bi-people-fill" />
                  </span>
               </div>
               <p class="fs-2 fw-semibold mt-5">
                  1
               </p>
            </div>
         </div>
      </div>
   </div>

</AdminLayout>